@import "../common/custom/grades/grade_68";
@import "../common/baseline/variables";
@import "../common/baseline/colors";
@import "../common/baseline/mixins";

body {
  @include respond-xl {
    @include padding-above(2);
  }
}
h2,
p {
  grid-column: 2 / span 12;

  @include respond-md {
    grid-column: 8 / span 6;
  }
}

h2 {
  font-weight: 700;
  @include margin-above(1);
}

p:not([aria-role="doc-subtitle"]) {
  @include respond-xl {
    @include margin-above(1);
    grid-column-end: span 3;

    &:last-child {
      grid-column-start: 11;
    }
  }
}

[aria-role="doc-subtitle"] {
  @include head-size($heading-md);
  @include margin-above(0);

  & + p {
    @include margin-above(1);
  }
}

figure {
  grid-column: 1 / span 14;
  height: 100vw;
  position: relative;
  clip-path: polygon(1rem 0%, 100% 0%, 100% 100%, 1rem 100%);

  &:before {
    width: calc(100vw - 2rem);
    height: calc(100vw - 2rem);
    content: "";
    position: absolute;
    bottom: 0;
    left: 1rem;
    background: #cee6ff;
    z-index: -1;

    @include respond-md {
      width: calc(100% - var(--base-lheight) / 2);
      height: 100%;
      left: 0;
      bottom: unset;
      top: var(--base-lheight);
    }

    @include respond-xl {
      top: calc(var(--base-lheight) / 2);
    }
  }
  img {
    width: 100vw;
    max-width: 100vw;

    @include respond-md {
      width: 100%;
      object-position: center center;
    }
  }

  @include respond-md {
    grid-column: 2 / span 6;
    grid-row-end: span 5;
    height: calc(var(--col-width) * 9);
    clip-path: polygon(
      0 0%,
      calc(100% + var(--base-lheight) / 2) 0%,
      calc(100% + var(--base-lheight) / 2) 100%,
      0 100%
    );
    margin-right: 0;
    width: calc(100% - var(--base-lheight) / 2);
    overflow: hidden;
  }

  @include respond-xl {
    height: calc(var(--col-width) * 6);
  }
}
