* {
  font-variant-ligatures: none;
  hyphens: none;
}

/* NOTES 
- focus state disabled in Source.css
- margin l/r removed in source.css
*/
:root {
  --focus: rgb(255, 46, 171);
  --shadow-r: 76;
  --shadow-g: 78;
  --shadow-b: 80;
  --shadow-light: rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .15);
  --shadow-dark: rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), .25);
  --slate-dark: #39649B;
  --slate-medium: #5497C9;
  --slate-light: #B0CFE6;
  --slate-accent: #E4EDF7;
  --blue-dark: #2461B5;
  --blue-medium: rgb(51, 136, 255);
  --blue-light: #A1C8FF;
  --blue-accent: #BAF1FB;
  --green-dark: #007B00;
  --green-medium: rgb(0, 173, 0);
  --green-light: #8AD98A;
  --green-accent: #D2F7AE;
  --gray-dark: #5A5C5C;
  --gray-medium: rgb(127, 130, 130);
  --gray-light: #C4C6C6;
  --gray-accent: #D2F7AE;
  --golden-dark: #E49929;
  --golden-medium: rgb(240, 173, 0);
  --golden-light: #FFD601;
  --border-xs: 0 0 0 .0625rem var(--shadow-light), 0 0 0 0 var(--shadow-dark);
  --border-sm: 0 0 0 .125rem var(--shadow-light), 0 0 0 0 var(--shadow-dark);
  --border-md: 0 0 0 .1825rem var(--shadow-light), 0 0 0 0 var(--shadow-dark);
  --border-lg: 0 0 0 .25rem var(--shadow-light), 0 0 0 0 var(--shadow-dark);
  --border-xl: 0 0 0 .3125rem var(--shadow-light), 0 0 0 0 var(--shadow-dark);
  --default-xs: 0 0 0 .0625rem var(--shadow-light), 0 .125rem 0 0 var(--shadow-dark);
  --default-sm: 0 0 0 .125rem var(--shadow-light,), 0 .25rem 0 0 var(--shadow-dark);
  --default-md: 0 0 0 .1825rem var(--shadow-light), 0 .375rem 0 0 var(--shadow-dark);
  --default-lg: 0 0 0 .25rem var(--shadow-light), 0 .5rem 0 0 var(--shadow-dark);
  --default-xl: 0 0 0 .3125rem var(--shadow-light), 0 .625rem 0 0 var(--shadow-dark);
  --focus-xs: 0 0 0 .0625rem var(--focus), 0 .125rem 0 0 var(--focus);
  --focus-sm: 0 0 0 .125rem var(--focus), 0 .25rem 0 0 var(--focus);
  --focus-md: 0 0 0 .1825rem var(--focus), 0 .375rem 0 0 var(--focus);
  --focus-lg: 0 0 0 .25rem var(--focus), 0 .5rem 0 0 var(--focus);
  --focus-xl: 0 0 0 .3125rem var(--focus), 0 .625rem 0 0 var(--focus);
  --hover-xs: 0 0 0 .0625rem var(--shadow-light), 0 .125rem 0 0 var(--shadow-dark);
  --hover-sm: 0 0 0 .125rem var(--shadow-light,), 0 .25rem 0 0 var(--shadow-dark);
  --hover-md: 0 0 0 .1825rem var(--shadow-light), 0 .375rem 0 0 var(--shadow-dark);
  --hover-lg: 0 0 0 .25rem var(--shadow-light), 0 .5rem 0 0 var(--shadow-dark);
  --hover-xl: 0 0 0 .3125rem var(--shadow-light), 0 .625rem 0 0 var(--shadow-dark);
  --inset-down-xs: inset 0 -.125rem 0 0 var(--shadow-light);
  --inset-down-sm: inset 0 -.25rem 0 0 var(--shadow-light);
  --inset-down-md: inset 0 -.375rem 0 0 var(--shadow-light);
  --inset-down-lg: inset 0 -.5rem 0 0 var(--shadow-light);
  --inset-down-xl: inset 0 -.625rem 0 0 var(--shadow-light);
  --inset-up-xs: inset 0 .125rem 0 0 var(--shadow-light);
  --inset-up-sm: inset 0 .25rem 0 0 var(--shadow-light);
  --inset-up-md: inset 0 .375rem 0 0 var(--shadow-light);
  --inset-up-lg: inset 0 .5rem 0 0 var(--shadow-light);
  --inset-up-xl: inset 0 .625rem 0 0 var(--shadow-light);
}

@font-face {
  font-family: "Avenir Primary";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("fonts/avenirprimaryhmh.otf");
}
@font-face {
  font-family: "Avenir Primary";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("fonts/avenirprimaryhmh-bold.otf");
}
*, label {
  font-family: "Avenir Primary", sans-serif;
  transition: all 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}

body {
  align-items: center;
  grid-gap: var(--base-lheight);
}

div {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 30px;
  grid-column: span 2;
}
div:nth-of-type(5n + 1) {
  grid-column: 2/span 2;
}

figure {
  grid-column: 2/span 10;
}

button {
  grid-column: span 3;
}
button:nth-of-type(3n + 1) {
  grid-column: 2/span 3;
}

input[type=text] {
  grid-column: span 2;
}
input[type=text]:nth-of-type(4n + 1) {
  grid-column: 2/span 2;
}

.border-xs {
  box-shadow: var(--border-xs);
}

.border-sm {
  box-shadow: var(--border-sm);
}

.border-md {
  box-shadow: var(--border-md);
}

.border-lg {
  box-shadow: var(--border-lg);
}

.border-xl {
  box-shadow: var(--border-xl);
}

.default-xs {
  box-shadow: var(--default-xs);
}

.default-sm {
  box-shadow: var(--default-sm);
}

.default-md {
  box-shadow: var(--default-md);
}

.default-lg {
  box-shadow: var(--default-lg);
}

.default-xl {
  box-shadow: var(--default-xl);
}

.hover-xs {
  box-shadow: var(--hover-xs);
}

.hover-sm {
  box-shadow: var(--hover-sm);
}

.hover-md {
  box-shadow: var(--hover-md);
}

.hover-lg {
  box-shadow: var(--hover-lg);
}

.hover-xl {
  box-shadow: var(--hover-xl);
}

.focus-xs {
  box-shadow: var(--focus-xs);
}

.focus-sm {
  box-shadow: var(--focus-sm);
}

.focus-md {
  box-shadow: var(--focus-md);
}

.focus-lg {
  box-shadow: var(--focus-lg);
}

.focus-xl {
  box-shadow: var(--focus-xl);
}

.inset-up-xs {
  box-shadow: var(--inset-up-xs);
}

.inset-up-sm {
  box-shadow: var(--inset-up-sm);
}

.inset-up-md {
  box-shadow: var(--inset-up-md);
}

.inset-up-lg {
  box-shadow: var(--inset-up-lg);
}

.inset-up-xl {
  box-shadow: var(--inset-up-xl);
}

.inset-down-xs {
  box-shadow: var(--inset-down-xs);
}

.inset-down-sm {
  box-shadow: var(--inset-down-sm);
}

.inset-down-md {
  box-shadow: var(--inset-down-md);
}

.inset-down-lg {
  box-shadow: var(--inset-down-lg);
}

.inset-down-xl {
  box-shadow: var(--inset-down-xl);
}

form {
  align-self: start;
}

form.sm {
  grid-column: 1/span 1;
  max-width: 64px;
}

form.md {
  grid-column: 2/span 3;
  max-width: 190px;
}

form.lg {
  grid-column: 5/span 3;
  max-width: 280px;
}

form.xl {
  grid-column: 8/span 5;
  max-width: 430px;
}

button {
  --content-color: white;
  min-height: 5rem;
  border-radius: 2.5rem;
  width: fit-content;
  border: 0.5rem solid white;
  box-shadow: var(--border-sm), var(--inset-down-sm);
  cursor: pointer;
  position: relative;
  font-size: 1.375rem;
  line-height: 2.125rem;
  background-color: var(--blue-medium);
  background-image: url("images/shine.svg");
  background-position: calc(100% - 10px) 10px;
  background-repeat: no-repeat;
  font-weight: 700;
  color: var(--content-color);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}
@media (min-width: 40.625rem) {
  button {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 80rem) {
  button {
    font-size: 1.6875rem;
    line-height: 2.625rem;
  }
}
button:hover {
  box-shadow: var(--hover-md), var(--inset-down-sm);
  transform: scale(1.15);
}
button:focus-visible {
  box-shadow: var(--focus-sm), var(--inset-down-sm);
  outline: none;
}
button.active {
  background-color: var(--blue-dark);
}
button.correct {
  background-color: var(--slate-light);
  --content-color: var(--slate-dark);
}
button.icon-text {
  padding: 0.75rem 1.5rem 0.75rem 0.75rem;
}
button.icon-text img, button.icon-text svg {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.75rem;
  fill: var(--content-color);
}
button.icon-only {
  width: 5rem;
  padding: 0.75rem;
}
button.icon-only img, button.icon-only svg {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--content-color);
}

input[type=text] {
  --bg-color: var(--blue-accent);
  --border-color: var(--blue-medium);
  min-height: 4.625rem;
  border-radius: 1.5rem;
  background: var(--bg-color);
  border: 0.5rem solid white;
  box-shadow: var(--border-sm), inset 0 0 0 0.25rem var(--border-color), var(--inset-up-lg);
  padding: 0 1rem;
  font-size: 1.375rem;
  line-height: 2.125rem;
  font-weight: 700;
  position: relative;
}
@media (min-width: 40.625rem) {
  input[type=text] {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 80rem) {
  input[type=text] {
    font-size: 1.6875rem;
    line-height: 2.625rem;
  }
}
input[type=text]:hover:not([disabled]) {
  box-shadow: var(--hover-md), inset 0 0 0 0.25rem var(--border-color), var(--inset-up-lg);
  transform: scale(1.05);
}
input[type=text]:focus {
  background: white;
}
input[type=text]:focus-visible {
  box-shadow: var(--focus-sm), inset 0 0 0 0.25rem var(--border-color), var(--inset-up-lg);
  outline: none;
}
input[type=text][disabled] {
  --bg-color: var(--slate-accent);
  --border-color: var(--slate-light);
  color: var(--gray-medium);
  cursor: not-allowed;
}
input[type=text].correct {
  --bg-color: var(--green-accent);
  --border-color: var(--green-medium);
  color: black;
}
input[type=text].incorrect {
  --bg-color: var(--slate-accent);
  --border-color: var(--slate-medium);
  color: black;
}

input[type=radio], input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
input[type=radio] + label, input[type=checkbox] + label {
  font-size: 1.375rem;
  line-height: 2.125rem;
  --bg-color: var(--blue-accent);
  --border-color: transparent;
  --outer-shadow: var(--border-sm);
  --button-color: var(--blue-medium);
  display: block;
  min-height: 4.625rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-top: var(--half-lheight);
}
@media (min-width: 40.625rem) {
  input[type=radio] + label, input[type=checkbox] + label {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 80rem) {
  input[type=radio] + label, input[type=checkbox] + label {
    font-size: 1.6875rem;
    line-height: 2.625rem;
  }
}
input[type=radio] + label:not(:has(img)), input[type=checkbox] + label:not(:has(img)) {
  background-color: var(--bg-color);
  width: fit-content;
  padding: 0 3rem 0 5.125rem;
  box-shadow: var(--outer-shadow), inset 0 0 0 0.5rem white;
  border-radius: 9999rem;
}
input[type=radio] + label:before, input[type=checkbox] + label:before {
  width: 2.875rem;
  height: 2.875rem;
  background: white;
  position: absolute;
  top: 0.875rem;
  left: 0.875rem;
  border-radius: 50%;
  content: "";
  box-shadow: var(--default-xs), inset 0 0 0 0.25rem white, inset 0 0 0 0.5rem var(--button-color);
  transition: all 0.2s ease-in-out;
}
input[type=radio] + label:after, input[type=checkbox] + label:after {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--button-color);
  position: absolute;
  top: 1.5625rem;
  left: 1.5625rem;
  border-radius: 50%;
  content: "";
  box-shadow: var(--inset-down-xs);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
input[type=radio]:not([disabled]):hover + label:before, input[type=radio]:not([disabled]):hover + label:after, input[type=checkbox]:not([disabled]):hover + label:before, input[type=checkbox]:not([disabled]):hover + label:after {
  transform: scale(1.1);
}
input[type=radio]:checked + label:after, input[type=checkbox]:checked + label:after {
  opacity: 1;
}
input[type=radio][disabled] + label, input[type=checkbox][disabled] + label {
  --bg-color: var(--slate-accent);
  --border-color: var(--slate-light);
  --button-color: var(--border-color);
  color: var(--gray-medium);
  cursor: not-allowed;
}
input[type=radio].correct + label, input[type=checkbox].correct + label {
  --bg-color: var(--green-accent);
  --border-color: var(--green-medium);
  color: black;
}
input[type=radio].incorrect + label, input[type=checkbox].incorrect + label {
  --bg-color: var(--slate-accent);
  --border-color: var(--slate-medium);
  color: black;
}

input[type=checkbox] + label:not(:has(img)) {
  border-radius: 1.25rem;
}
input[type=checkbox] + label:before {
  border-radius: 0.375rem;
}
input[type=checkbox] + label:after {
  border-radius: 0;
}

form.mcq input[type=radio] + label, form.mcq input[type=checkbox] + label {
  --outer-shadow: var(--default-sm);
  font-weight: 700;
}
form.mcq input[type=radio] + label:not(:has(img)), form.mcq input[type=checkbox] + label:not(:has(img)) {
  border-radius: 1.25rem;
  padding: 0 3rem;
  box-shadow: var(--outer-shadow), inset 0 0 0 0.5rem white, inset 0 0 0 0.75rem var(--border-color);
}
form.mcq input[type=radio] + label:has(img), form.mcq input[type=checkbox] + label:has(img) {
  container-type: inline-size;
}
form.mcq input[type=radio] + label:before, form.mcq input[type=radio] + label:after, form.mcq input[type=checkbox] + label:before, form.mcq input[type=checkbox] + label:after {
  content: unset;
}
form.mcq input[type=radio] + label img, form.mcq input[type=checkbox] + label img {
  border-radius: 1.25rem;
  padding: 0.6875rem;
  background-color: white;
  box-shadow: var(--outer-shadow), inset 0 0 0 0.375rem white, inset 0 0 0 0.625rem var(--border-color);
}
@container (min-width: 190px) {
  form.mcq input[type=radio] + label img, form.mcq input[type=checkbox] + label img {
    --outer-shadow: var(--default-md);
    border-radius: 2rem;
    padding: 0.875rem;
    box-shadow: var(--outer-shadow), inset 0 0 0 0.375rem white, inset 0 0 0 0.75rem var(--border-color);
  }
}
@container (min-width: 280px) {
  form.mcq input[type=radio] + label img, form.mcq input[type=checkbox] + label img {
    --outer-shadow: var(--default-lg);
    border-radius: 2.5rem;
    padding: 1.1875rem;
    box-shadow: var(--outer-shadow), inset 0 0 0 0.5rem white, inset 0 0 0 1rem var(--border-color);
  }
}
@container (min-width: 430px) {
  form.mcq input[type=radio] + label img, form.mcq input[type=checkbox] + label img {
    --outer-shadow: var(--default-xl);
    border-radius: 3rem;
    padding: 1.5rem;
    box-shadow: var(--outer-shadow), inset 0 0 0 0.625rem white, inset 0 0 0 1.25rem var(--border-color);
  }
}
form.mcq input[type=radio]:focus-visible + label, form.mcq input[type=checkbox]:focus-visible + label {
  --outer-shadow: var(--focus-sm);
}
@container (min-width: 190px) {
  form.mcq input[type=radio]:focus-visible + label img, form.mcq input[type=checkbox]:focus-visible + label img {
    --outer-shadow: var(--focus-md);
  }
}
@container (min-width: 280px) {
  form.mcq input[type=radio]:focus-visible + label img, form.mcq input[type=checkbox]:focus-visible + label img {
    --outer-shadow: var(--focus-lg);
  }
}
@container (min-width: 430px) {
  form.mcq input[type=radio]:focus-visible + label img, form.mcq input[type=checkbox]:focus-visible + label img {
    --outer-shadow: var(--focus-xl);
  }
}
form.mcq input[type=radio]:checked + label, form.mcq input[type=checkbox]:checked + label {
  --bg-color: var(--white-accent);
  --border-color: var(--blue-medium);
}
form.mcq input[type=radio]:not([disabled]):hover + label, form.mcq input[type=checkbox]:not([disabled]):hover + label {
  --outer-shadow: var(--hover-sm);
}
form.mcq input[type=radio]:not([disabled]):hover + label:not(:has(img)), form.mcq input[type=checkbox]:not([disabled]):hover + label:not(:has(img)) {
  transform: scale(1.05);
}
form.mcq input[type=radio]:not([disabled]):hover + label img, form.mcq input[type=checkbox]:not([disabled]):hover + label img {
  transform: scale(1.15);
}
@container (min-width: 190px) {
  form.mcq input[type=radio]:not([disabled]):hover + label img, form.mcq input[type=checkbox]:not([disabled]):hover + label img {
    transform: scale(1.1);
    --outer-shadow: var(--hover-md);
  }
}
@container (min-width: 280px) {
  form.mcq input[type=radio]:not([disabled]):hover + label img, form.mcq input[type=checkbox]:not([disabled]):hover + label img {
    transform: scale(1.05);
    --outer-shadow: var(--hover-lg);
  }
}
@container (min-width: 430px) {
  form.mcq input[type=radio]:not([disabled]):hover + label img, form.mcq input[type=checkbox]:not([disabled]):hover + label img {
    transform: scale(1.02);
    --outer-shadow: var(--hover-xl);
  }
}

select {
  --border-color: var(--blue-medium);
  width: fit-content;
  min-height: 4.625rem;
  box-shadow: var(--border-sm), inset 0 0 0 0.25rem var(--border-color), var(--inset-up-lg);
  border: 0.5rem solid white;
  border-radius: 1.5rem;
  cursor: pointer;
  font-size: 1.375rem;
  line-height: 2.125rem;
  padding: 0 4.625rem 0 1rem;
  appearance: none;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='33' fill='none'%3E%3Cpath fill='%23fff' d='M7.531 12.169a1.6 1.6 0 0 0-2.263 2.263l9.6 9.6a1.6 1.6 0 0 0 2.263 0l9.6-9.6a1.6 1.6 0 0 0-2.263-2.263L16 20.637 7.53 12.17Z'/%3E%3C/svg%3E"), linear-gradient(90deg, rgba(0, 114, 219, 0) 0%, rgba(0, 114, 219, 0) calc(100% - 3.375rem), var(--border-color) calc(100% - 3.375rem), var(--border-color) 100%);
  background-size: 2rem 2rem, 100% 100%;
  background-position: calc(100% - 0.6875rem) center, 100% 100%;
  background-repeat: no-repeat;
}
@media (min-width: 40.625rem) {
  select {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 80rem) {
  select {
    font-size: 1.6875rem;
    line-height: 2.625rem;
  }
}
select:hover {
  box-shadow: var(--default-sm), inset 0 0 0 0.25rem var(--border-color), var(--inset-up-lg);
  transform: scale(1.1);
}

select.v1 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='33' fill='none'%3E%3Cpath fill='%23fff' d='M7.531 12.169a1.6 1.6 0 0 0-2.263 2.263l9.6 9.6a1.6 1.6 0 0 0 2.263 0l9.6-9.6a1.6 1.6 0 0 0-2.263-2.263L16 20.637 7.53 12.17Z'/%3E%3C/svg%3E"), linear-gradient(90deg, rgba(0, 114, 219, 0) 0%, rgba(0, 114, 219, 0) calc(100% - 3.375rem), var(--border-color) calc(100% - 3.375rem), var(--border-color) 100%);
  background-size: 2rem 2rem, 100% 100%;
  background-position: calc(100% - 0.6875rem) center, 100% 100%;
  background-repeat: no-repeat;
}

select.v2 {
  box-shadow: var(--border-sm), inset -3.125rem 0 0 0.25rem var(--border-color), inset 0 0 0 0.25rem var(--border-color), var(--inset-up-lg);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='33' fill='none'%3E%3Cpath fill='%23fff' d='M7.531 12.169a1.6 1.6 0 0 0-2.263 2.263l9.6 9.6a1.6 1.6 0 0 0 2.263 0l9.6-9.6a1.6 1.6 0 0 0-2.263-2.263L16 20.637 7.53 12.17Z'/%3E%3C/svg%3E");
  background-size: 2rem 2rem;
  background-position: calc(100% - 0.6875rem) center;
  background-repeat: no-repeat;
}
select.v2:hover {
  box-shadow: var(--default-sm), inset -3.125rem 0 0 0.25rem var(--border-color), inset 0 0 0 0.25rem var(--border-color), var(--inset-up-lg);
}

/*# sourceMappingURL=custom.css.map */
