:root {
    --base-lheight: 2rem;
    --half-lheight: 1rem;
    --quart-lheight: 0.5rem;

    --reveal-min-height: calc(var(--base-lheight) + var(--half-lheight));
}

$reveal-gray: #dad9d9;
$reveal-aqua: #01a3bf;
$reveal-border: 0.125rem;

*,
*::before,
*::after {
    box-sizing: border-box;
}

.source__reveal__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: calc(var(--half-lheight) + var(--quart-lheight) / 2)
        var(--half-lheight);
    align-items: start;
    padding: var(--half-lheight);
    border: solid $reveal-border $reveal-gray;

    > li {
        list-style: none;
        margin-top: 0;
        padding-left: 0;
        grid-column: span 1;

        &:before {
            content: unset;
        }
    }

    details {
        position: relative;
        list-style-type: none;
        min-height: var(--reveal-min-height);
        cursor: pointer;
        border: solid transparent $reveal-border;

        &[open] {
            summary {
                background: transparent;
                //comment this out to allow toggle
                z-index: -2;
            }
        }

        summary {
            // list-style: none;
            position: absolute;
            inset: calc(-1 * $reveal-border);
            width: calc(100% + 2 * $reveal-border);
            height: calc(100% + 2 * $reveal-border);
            background-color: #f8f8f9;
            padding-top: var(--quart-lheight);
            border: solid $reveal-aqua $reveal-border;

            background-image: url('reveal-icon.png'),
                linear-gradient(25deg, #f8f8f9 5%, #f8f8f9 70%, #eeeef1 95%);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 1.75rem, cover;

            // sr-only stands for screen reader only
            .sr-only {
                opacity: 0;
            }
        }

        summary::-webkit-details-marker,
        summary::marker {
            color: transparent;
        }

        p {
            margin: 0;
            text-align: center;
            padding: var(--quart-lheight);
            background-color: white;
            line-height: 1.625rem;
        }

        // styles for varying content

        > figure {
            margin: 0;
            padding-bottom: 0;

            img {
                width: 100%;
                margin-inline: auto;
                padding-bottom: 0;
                display: block;
                min-height: var(--reveal-min-height);
                object-fit: cover;
            }
        }

        ol,
        ul {
            padding-left: 0;
            padding: var(--quart-lheight);
        }
    }
}
